@import url('https://fonts.googleapis.com/css?family=Mina');

* {
	box-sizing: border-box;
	font-family: 'Mina', Helvetica, Arial, sans-serif;
}

body {
	margin:0;
	padding: 0;
	background-color: #223748;
}

h1, p {
	width: 100%;
	text-align: center;
}

h1 {
	color: #FFFFFF;
}

p {
	color: #C3E4FF;
}


p::after {
	content: 'Un after';
}


